# =====================
# Virtual environment
# =====================
.venv/

# =====================
# Python cache / build
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# OS / editor junk
# =====================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =====================
# Logs & temp files
# =====================
*.log
*.tmp

# =====================
# Testing / coverage
# =====================
.coverage
htmlcov/
.pytest_cache/

# =====================
# Environment / secrets
# =====================
.env
.env.*
